<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Add Friend</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
         <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
         </mat-form-field>
         <!-- <input #file type="file" accept='image/*' (change)="" /> -->
    </form>
    <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-raised-button (click)="login()" color="primary">Login</button> -->
  </mat-card-actions>
</mat-card>