<div  class="gallery-container">  


  <div  *ngFor="let imageList of imageBufferss; index as i"   class="duplicateList">
<!-- 
      <div *ngFor="let image of imageList; index as i" class="card-container" >
        <img class="image-view" mat-card-image [src]="image" alt="photo"  >
      </div> -->

      <mat-card  *ngFor="let image of imageList; index as j"  class="card-container" >
        <div class="ImageHeader" > 
          <h4>{{ duplicate[i][j].eventName }}</h4>
          <button mat-button color="primary" (click)="deletePhoto(duplicate[i][j])" > delete</button>
        </div>
          <mat-card-content>
            <img class="image-view" mat-card-image [src]="image" alt="photo"  [ngClass]="setClass[i]">
          </mat-card-content>
        </mat-card>
      
      
  </div>
</div>