.duplicateList
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    //flex-flow: wrap;
}

.image-view
{
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: auto;
}


.card-container
{
    margin: 20px 0 0 20px;
    overflow: hidden;
    z-index: 2px;
}

.ImageHeader
{
    display: flex;
    justify-content: space-between;
}

.orientation_1
{
   transform: rotate(0deg);
}

.orientation_8
{
  transform: rotate(270deg);
}


.orientation_3
{
  transform: rotate(180deg);
}

.orientation_6
{
  transform: rotate(90deg);
}