<div class="searchbar">  
<form >
    <input class="search_input" type="text" name="" placeholder="Search..." [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <div style="max-height: 200px">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
      </div>
    </mat-autocomplete>
    <button mat-icon-button class="search_icon" type="submit">
        <mat-icon color="primary" (click)="SearchTheEvent()">search</mat-icon>
      </button>
</form>
</div>