.example-card {
    max-width: 500px;
    margin:auto;
    margin-top:200px;
  }

  .form-field
{
    display: flex;
    flex-direction: row;
    
}

.full-width {
    width: 100%;
    font-size: 18px;
  }