<mat-sidenav-container class="sidenav-container" >

  <!-- Right Slider button -->
  <mat-sidenav #drawer class="sidenav"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="'false'"
                position= "end">


    <!-- Sidebar Title -->
    <mat-toolbar>
      <mat-toolbar-row>
        <h1 class="toolbar-title">Photo Information</h1> 
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <!-- Photo Metadata -->
      
    <div style="padding: 4px  4px 4px 8px"><strong>Model:</strong> {{photoInfo.model}}</div>
    <div style="padding: 4px  4px 4px 8px"><strong>DateTime:</strong> {{photoInfo.dataTime}}</div>
    <div style="padding: 4px  4px 4px 8px"><strong>Orientation:</strong> {{photoInfo.orientation}}</div>
    <mat-divider></mat-divider>
    
    <!-- Friend List -->
    <mat-card class="friend-container">
      <mat-card-header> <h3>Friends List</h3> </mat-card-header>
      <mat-card-content>
       <div class="list">
         <div class="list-item" *ngFor="let item of friendLists">{{item}}</div>
       </div>
     </mat-card-content>
   </mat-card>

   <mat-divider></mat-divider>
   <!-- Tagged List -->
   <mat-card class="friend-container">
    <mat-card-header> <h3>Tags List</h3> </mat-card-header>
    <mat-card-content>
     <div class="list">
       <div class="list-item" *ngFor="let item of TagList">{{item}}</div>
     </div>
   </mat-card-content>

   <mat-divider></mat-divider>
   <!-- Rating -->
   <div class="rating">
   </div>

   <mat-divider></mat-divider>
   <div>
    <button mat-raised-button color="primary" > Save </button>
   </div>

 </mat-card>

  </mat-sidenav>

  <!-- Main Content  -->
  <mat-sidenav-content>
    
    <!--Upper Nagivation  -->
  <mat-toolbar class="upper-nav">    
      <mat-toolbar-row>
        
        <div  fxFlex fxLayout >
          <button mat-stroked-button matTooltip="Back" color="accent">
              <mat-icon color="accent" (click)="goBack()">arrow_back</mat-icon>
          </button>
        </div>
          <div fxFlex fxLayout fxLayoutAlign="center">
              <button mat-stroked-button (click)="loadImage(-1)"  color="accent" matTooltip="Prev">
                <mat-icon  color="accent">chevron_left</mat-icon>
              </button>
              <button mat-stroked-button (click)="loadImage(1)"  color="accent" matTooltip="Next">
                <mat-icon color="accent">chevron_right </mat-icon>
              </button>
          </div>

          <div fxFlex fxLayout fxLayoutAlign="flex-end">
              <ul fxLayout fxLayoutGap="25px" class="navigation-items" >
                <li>
                  <button mat-stroked-button color="accent" matTooltip="Delete Photo" (click)="DeletePhoto()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </li>
                <li>
                  <button (click)="drawer.toggle()" mat-stroked-button color="accent" matTooltip="Image Info">
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
                </li>
              </ul>
              
          </div>
      </mat-toolbar-row>
  
  </mat-toolbar>
  


  <!-- Add Content Here -->
  <!-- <div class="card-container">
          <img class="image-view" src="/assets/Image/IMG_20190121_144905.jpg" alt="photo">
  </div> -->

    <mat-grid-list cols=1  rowHeight="93.2%">
      <mat-grid-tile>
        <div class="image-container">
          
          <img class="image-view" [src]="imagebuffer" alt="photo" [ngClass]="setClass">
          
        </div>
        
      </mat-grid-tile>
    </mat-grid-list>

</mat-sidenav-content>

</mat-sidenav-container>
