<mat-sidenav-container class="sidenav-container" >

  <!-- Right Slider button -->
  <mat-sidenav #drawer class="sidenav"
                [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                [mode]="(isHandset$ | async) ? 'over' : 'side'"
                [opened]="'false'"
                position= "end">


    <!-- Sidebar Title -->
    <mat-toolbar>
      <mat-toolbar-row>
        <h1 class="toolbar-title">Photo Information</h1> 
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-divider></mat-divider>
    <!-- Photo Metadata -->
      
    <div style="padding: 4px  4px 4px 8px"><strong>Model:</strong> {{photoInfo.model}}</div>
    <div style="padding: 4px  4px 4px 8px"><strong>DateTime:</strong> {{photoInfo.dataTime}}</div>
    <div style="padding: 4px  4px 4px 8px"><strong>Orientation:</strong> {{photoInfo.orientation}}</div>
    <mat-divider></mat-divider>
  </mat-sidenav>

  <!-- Main Content  -->
  <mat-sidenav-content>
    
    <!--Upper Nagivation  -->
  <mat-toolbar class="upper-nav">    
      <mat-toolbar-row>
          
        <!--Back-->
        <div  fxFlex fxLayout >
          <button mat-icon-button matTooltip="Back" color="accent">
              <mat-icon color="accent" (click)="goBack()">arrow_back</mat-icon>
          </button>
        </div>
          
          <div fxFlex fxLayout fxLayoutAlign="center">
            <!--prev-->
              <button mat-stroked-button (click)="loadImage(-1)"  color="accent" matTooltip="Prev">
                <mat-icon  color="accent">chevron_left</mat-icon>
              </button>
              <!--next-->
              <button mat-stroked-button (click)="loadImage(1)"  color="accent" matTooltip="Next">
                <mat-icon color="accent">chevron_right </mat-icon>
              </button>
          </div>

          <div fxFlex fxLayout fxLayoutAlign="flex-end">
              <ul fxLayout fxLayoutGap="25px" class="navigation-items" >
                  <li>
                      <!--Auto Play-->
                      <button mat-stroked-button color="accent" matTooltip="SlideShow" (click)="ToggleAutoPlay()">
                        <span *ngIf="isAutoPlay" > Stop AutoPlay </span>
                        <span *ngIf="!isAutoPlay">Start AutoPlay</span>
                      </button>
                    </li>
                <li>
                  <!--Delete-->
                  <button mat-stroked-button color="accent" matTooltip="Delete Photo" (click)="DeletePhoto()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </li>
                <li>
                  <button (click)="drawer.toggle()" mat-stroked-button color="accent" matTooltip="Image Info">
                    <mat-icon>format_list_bulleted</mat-icon>
                </button>
                </li>
              </ul>
              
          </div>
      </mat-toolbar-row>
  
  </mat-toolbar>
  

    <mat-grid-list cols=1  rowHeight="93.2%">
      <mat-grid-tile>
        <div class="image-container">
          
          <!-- main photo display -->
          <img class="image-view" [src]="imagebuffer" alt="photo" [ngClass]="setClass">
          
        </div>
        
      </mat-grid-tile>
    </mat-grid-list>

</mat-sidenav-content>

</mat-sidenav-container>
