<mat-toolbar color="primary" class="crm-navigation-bar">

  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-title"> {{ Title }}</span>

    <!-- TODO: add notification and switch user on navbar     -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="isLogin">

          <button mat-stroked-button [matMenuTriggerFor]="auth">
            <mat-icon>person_outline</mat-icon>
            {{ UserName }}
          </button>

          <mat-menu #auth="matMenu">
            <button mat-menu-item>
              
              <mat-icon>exit_to_app</mat-icon>
              <span>Switch Account</span>
            </button>
          </mat-menu>

    </div>

  </mat-toolbar-row>

</mat-toolbar>