.grid-container
{
    padding-top:20px;
}

.event-container
{
    height: 100%;
    width: 100%;
    background-color: inherit;
}

.event-title
{
    font-size: 50px;
    color: #212121;
}


.event-sub-info
{
    font-size: 18px;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.event-description
{
    padding: 20px 50px 20px 50px;
    font-size: 20px;
    color: #363636;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    line-height: 30px;
    text-align: justify;
    height: 300px;
}

.list-container
{
    padding: 20px 50px 0px 50px;;
    display: flex;
    flex-flow: row wrap;
    text-align: justify;

}


.list-title
{
    font-size: 21px;
    padding-right: 20px;
    color: #212121;
}

.list-item
{ 
    font-size: 18px;
    color: #414A51;
}

.upper-container
{
    display:flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    background-color: inherit;
}


.gallery-title
{
    padding: 100px 20px 0 0;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.gallery-container
{
    padding: 100px 20px 20px 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-content: center;

}

.imageSlider{
    background: inherit;
    max-width: 600px;
    max-height: 400px;

}

/// photo
.orientation_1
{
  transform: rotate(0deg);
}

.orientation_8
{
  transform: rotate(270deg);
}

.orientation_3
{
  transform: rotate(180deg);
}

.orientation_6
{
  transform: rotate(90deg);
}