<div class="grid-container">
  <mat-grid-list  cols="4" rowHeight="100px">

    <!-- Event Container -->
    <mat-grid-tile colspan="2" rowspan="7">
      <mat-card class="event-container">

        <!-- Title-->
        <mat-card-header class="event-title">
          {{ eventInfo.title }}
        </mat-card-header>

        <!-- location and date  -->
        <mat-card-subtitle class="event-sub-info">
          <div>
            <mat-icon> date_range </mat-icon>
            <span>
              {{ eventInfo.date.getDate() }} {{ months[eventInfo.date.getMonth() -1] }},
              {{ eventInfo.date.getFullYear() }}
            </span>
          </div>

          <div>
            <mat-icon> location_on </mat-icon>
            <span>
              {{ eventInfo.location }}
            </span>
          </div>
        </mat-card-subtitle>

        <mat-divider></mat-divider> <!-- divider-->

        <!-- Event Decription -->
        <mat-card-content class="event-description">
          &nbsp;&nbsp;&nbsp;&nbsp; {{ eventInfo.description }}
        </mat-card-content>

        <mat-divider></mat-divider> <!-- Divider -->

        <!-- Catergoies -->
        <mat-card-content class="list-container">
          <span class="list-title">Categoies: </span>
          <mat-chip-list>
            <mat-chip *ngFor="let category of eventInfo.categories" class="list-item" color="primary">
              {{category}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <!-- Event Type -->
        <mat-card-content class="list-container">
          <span class="list-title">Event Type:</span>
          <mat-chip-list>
            <mat-chip  class="list-item">
              {{ eventInfo.eventType}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <!-- Friends -->
        <mat-card-content class="list-container">
          <span class="list-title">Friends:</span>
          <mat-chip-list>
            <mat-chip *ngFor="let friend of eventInfo.friends" class="list-item">
              {{ friend }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>

        <mat-divider></mat-divider>
        <!--Divider-->
      </mat-card>

    </mat-grid-tile>

    <!-- Image gallery -->
    <mat-grid-tile colspan="2" rowspan="7">

      <mat-card class="event-container">
        <mat-card-header class="gallery-title"> 
          Gallery: 
          <div fxFlex fxLayout fxLayoutAlign="flex-end">
            <!-- Explore -->
              <a mat-raised-button color="primary" matTooltip="see all image"
                 routerLinkActive [routerLink]="['/timeline/event-gallery', eventInfo._id]" > Explore </a>
          </div>
        </mat-card-header>

        <!-- gallery -->
        <mat-card-content class="gallery-container">
         <img [src]="imageDisplay" class="imageSlider" [ngClass]="setClass" >
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>

  </mat-grid-list>
</div>