.type-icon {
  color: #757575;
  margin-right: 5px;
}

.parent-node
{
  width: 100%;
  text-align: left;
}

.child-node
{
  width: 100%;
  color:black; 
  text-decoration: none;
  padding-left: 20px;
}

.link-active
{
  color: red; 
}

.toolbar-title {
  margin: 0 16px 0 16px;
  font-size: 25px;
}

.group-list
{
    width: 150px;
    padding-top: 10px;
}

.action-container
{
  height: 40px;
  display: flex;
  justify-content: space-around;
  padding: 8px;
}