
    <!-- Project Title -->
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon style="margin:0%" matListIcon class="app-nav-list-icon">monochrome_photos</mat-icon>
        <h1 class="toolbar-title"> {{ 'PAGES.HOME.TITLE' | translate }} </h1>
      </mat-toolbar-row>
    </mat-toolbar>


    <mat-divider></mat-divider>

    <!-- Organisation Section -->
    <mat-nav-list>
      <h2 matSubheader> Organisation </h2>

      <!-- TimeLine -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/timeline">
        <mat-icon matListIcon class="app-nav-list-icon"> timeline </mat-icon>
        Time Line
      </a>

      <!-- TODO: add document and other photo-->
      <!-- Document -->
      <!--       
      <a mat-list-item routerLinkActive routerLink="/document" #routerLinkActiveInstance2="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance2.isActive">
        <mat-icon matListIcon class="app-nav-list-icon"> insert_drive_file </mat-icon>
        Document
      </a> -->

      <!-- Other Photo -->
      <!-- <a mat-list-item routerLinkActive routerLink="/login" #routerLinkActiveInstance3="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance3.isActive">
        <mat-icon matListIcon class="app-nav-list-icon"> folder </mat-icon>
        Other Photos
      </a> -->

      <!--

        <a *ngFor="let item of myWorkRoutes"
         mat-list-item
         (click)="sidenav.close()"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
         [routerLink]="[item.route]">
        <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>

      -->
    </mat-nav-list>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Feature Section -->
    <mat-nav-list>
      <h2 matSubheader> Features </h2>

      <!-- Slideshow -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/slideshow" >
        <mat-icon matListIcon class="app-nav-list-icon"> slideshow </mat-icon>
        Slideshow
      </a>
      <!-- Searching -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/advance-search" >
        <mat-icon matListIcon class="app-nav-list-icon"> search </mat-icon>
        Advance Search
      </a>

      <!-- Duplicate -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/duplicate" >
        <mat-icon matListIcon class="app-nav-list-icon"> photo_library </mat-icon>
        Duplicate
      </a>

      <!-- People -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/friend-list">
        <mat-icon matListIcon class="app-nav-list-icon"> people </mat-icon>
        Friend List
      </a>

      <!-- Profile -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile" >
        <mat-icon matListIcon class="app-nav-list-icon"> person </mat-icon>
        Profile
      </a>

      <!-- Remove -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/login" >
        <mat-icon matListIcon class="app-nav-list-icon"> person </mat-icon>
        Login
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/registration">
        <mat-icon matListIcon class="app-nav-list-icon"> person </mat-icon>
        Registration
      </a>

    </mat-nav-list>

    <mat-divider></mat-divider>

