.toolbar-title 
{
  margin: 0 16px 0 16px;
  font-size: 35px;
}

.mat-subheader {
   font-size: 14px;
}

.app-nav-list-icon {
  margin: 0 12px 0 12px;
}

.list-item-active{
  color: red;
}


// disable
a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey
}