
    <!-- Project Title -->
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon style="margin:0%" matListIcon class="app-nav-list-icon">monochrome_photos</mat-icon>
        <h1 class="toolbar-title"> {{ 'PAGES.HOME.TITLE' | translate }} </h1>
      </mat-toolbar-row>
    </mat-toolbar>


    <mat-divider></mat-divider>

    <!-- Organisation Section -->
    <mat-nav-list>
      <h2 matSubheader> Organisation </h2>

      <!-- TimeLine -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/timeline" [ngClass]="{'disabled': !isLogin}">
        <mat-icon matListIcon class="app-nav-list-icon"> timeline </mat-icon>
        Time Line
      </a>
    </mat-nav-list>

    <!-- Divider -->
    <mat-divider></mat-divider>

    <!-- Feature Section -->
    <mat-nav-list>
      <h2 matSubheader> Features </h2>


      <!-- Duplicate -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/duplicate" [ngClass]="{'disabled': !isLogin}">
        <mat-icon matListIcon class="app-nav-list-icon"> photo_library </mat-icon>
        Duplicate
      </a>

      <!-- People -->
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/friend-list" [ngClass]="{'disabled': !isLogin}">
        <mat-icon matListIcon class="app-nav-list-icon"> people </mat-icon>
        Friend List
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/login" >
        <mat-icon matListIcon class="app-nav-list-icon"> exit_to_app </mat-icon>
        Switch Account
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/registration">
        <mat-icon matListIcon class="app-nav-list-icon"> person_add </mat-icon>
        Create NewAccount
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/face-detect">
        <mat-icon matListIcon class="app-nav-list-icon"> face </mat-icon>
        Face-Detection
      </a>

    </mat-nav-list>

    <mat-divider></mat-divider>

