

<div>
    <input id="myFileUpload" type="file" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
    <input type="file" (change)="uploadSecondImage($event)" accept=".jpg, .jpeg, .png">      
</div>

<div style="margin-top: 50px; margin-left: 50px; background-color: lightblue">
<canvas #canvas1 class="overlay" ></canvas>
<img id="profileImgRef" [src]="profilepic" height=400/>
<br>
<canvas #canvas2 class="overlay" ></canvas>
<img id="groupImgRef"  [src]="groupPic" height=400/>
</div>

<!-- 
<div style="position: relative" class="margin">
  <canvas #canvas2 class="overlay"></canvas>
  <img id="my_picture_with_group" src="/assets/my_picture_with_group.jpg" style="max-width: 800px;" />
  
</div>   
-->