<div class="main-container">

  <!-- Toolbar -->
  <mat-toolbar class="crm-navigation-bar">
    <mat-toolbar-row>
        <button mat-icon-button class="example-icon" matTooltip="Back" (click)="goBack()" >
            <mat-icon >arrow_back</mat-icon>
        </button>
      
        
      <span class="event-title"> {{ eventInfo.title }} </span>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>




      <!--Tools-->
      <button  mat-icon-button class="example-icon" matTooltip="Edit Event" 
              routerLinkActive [routerLink]="['/timeline/edit-event', eventInfo._id]">
          <mat-icon>create</mat-icon>
      </button>
    
      
      <button (click)="fileInput.click()"  mat-icon-button matTooltip="Add photo to Event" class="example-icon">
        <mat-icon >add_circle</mat-icon>
        <input #fileInput type="file" accept="image/*" (change)="onFileInput($event)" style="display:none;" multiple />
      </button>


      <button mat-icon-button class="example-icon" matTooltip="Comment">
          <mat-icon >chat_bubble</mat-icon>
      </button>

      <!-- more menu  -->
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="auth">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <!-- item1 -->
        <button mat-menu-item (click)="DeleteEvent()">
          <span>Delete event</span>
        </button>

        <!-- item2 -->
        <button mat-menu-item (click)="ExportTheEvent()">
          <span>Export</span> 
        </button>

        <!-- item3 -->
        <button mat-menu-item>
          <span>Hide event</span>
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>



  <!-- Gallery -->

  <div class="inner-container">
  <div  class="gallery-container">  


    <div  *ngFor="let image of imagesBuffer; index as i"  class="card-container" [ngClass]="setClass[i]">
      <a [routerLink]="['/timeline/photo-viewer' , i]">
        <img class="image-view" mat-card-image [src]="image" alt="photo"  >
      </a>
    </div>

    <!-- <div *ngFor="let image of imagesBuffer">
        <app-photo-thambnail>
          <img *ngIf [src]="image" class="image-view">
      </app-photo-thambnail>
    </div> -->
   
    <!-- <mat-card  *ngFor="let image of imagesBuffer; index as i"  class="card-container" >
      <a [routerLink]="['/timeline/photo-viewer' , i]">
        <img class="image-view" mat-card-image [src]="image" alt="photo" [ngClass]="setClass[i]" >
      </a>
    </mat-card> -->


</div>
</div>
</div>

