.main-container
{
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.crm-navigation-bar
{

}

.event-title
{
    font-size: 30px;
    padding-left: 10px;
}

.example-fill-remaining-space 
{
    flex: 1 1 auto;
}

.example-icon 
{
    margin: 0 5px;
}


.inner-container
{
  display: block;
  scroll-behavior: auto;
  overflow-y: auto;
  height: 90%;
}

.gallery-container
{
    padding: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}


// third
.card-container
{
    margin: 20px 0 0 20px;
    overflow: hidden;
    z-index: 2px;
}

.image-view
{
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: auto;
}



  /////
  .orientation_1
{
   transform: rotate(0deg);
}

.orientation_8
{
  transform: rotate(270deg);
}


.orientation_3
{
  transform: rotate(180deg);
}

.orientation_6
{
  transform: rotate(90deg);
}