<div style="padding: 50px;">

</div>
<mat-card class="example-card">
  <mat-card-content class="list-header">
    <h2>Friend list:</h2>

    <div class="action-list">
      <mat-select class="group-list" placeholder="Select group">
        <mat-option *ngFor="let type of groups" [value]="type">{{type}}</mat-option>
      </mat-select>
    
      <a mat-raised-button color="primary" routerLink="/add-friend" >Add Friend</a>
    </div>
  </mat-card-content>

  
  <mat-card-content>
    <ul style="margin:0px; padding:0px;" class="list">

      <li *ngFor="let friend of friends" class="list-style">
        <mat-card-header>
          <img mat-card-avatar [src]="friend.profilePhoto" height="200">
          <mat-card-title>{{friend.name}}</mat-card-title>
          <mat-card-subtitle>{{friend.group[0]}}</mat-card-subtitle>
        </mat-card-header>
      </li>
    </ul>
  </mat-card-content>

</mat-card>