/* You can add global styles to this file, and also import other style files */

// Themes
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";

// Icon
@import '~material-design-icons/iconfont/material-icons.css';

// Google-Font
@import '~typeface-roboto/index.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


// ngx-gallery plugin




///@at-root,
              // "node_modules/jquery/dist/jquery.min.js",
              // "node_modules/bootstrap/dist/js/bootstrap.min.js",
              // "node_modules/bootstrap/dist/css/bootstrap.min.css",
              // "node_modules/popper.js/dist/umd/popper.min.js"