<mat-sidenav-container class="sidenav-container">

    <!-- Eventlist Sidebar -->
    <mat-sidenav #drawer class="sidenav"
                  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                  [mode]="(isHandset$ | async) ? 'over' : 'side'"
                  [opened]="!(isHandset$ | async)"
                  position= "end">
  
  
      <!-- Sidebar Title -->
      <event-list></event-list>
    </mat-sidenav>
  


    <mat-sidenav-content>
      
      <!--Event Nagivation  -->
    <mat-toolbar class="upper-nav">    
        <mat-toolbar-row>
            <div fxFlex fxLayout fxLayoutAlign="flex-end">
                <ul fxLayout fxLayoutGap="25px" class="navigation-items">
                  
                  <li>
                    <app-search-event></app-search-event>
                  </li>

                  <li>
                    <button mat-stroked-button color="primary" matTooltip="create new event"
                            routerLink="/timeline/create-event" 
                    >
                      Create Event
                    </button>
                  </li>
                  <li>
                    <button (click)="fileInput.click()" mat-stroked-button color="primary" matTooltip="import external event"
                      color="primary">
                      <span>Import Event</span>
                      <input #fileInput type="file" accept=".zip" (change)="onFileInput($event)" style="display:none;" />
                    </button>
                  </li>
                  <li>
                    <button (click)="drawer.toggle()" mat-icon-button matTooltip="toggle event list"
                            color = "primary">
                      <mat-icon>format_list_bulleted</mat-icon>
                  </button>
                  </li>
                </ul>
                
            </div>
        </mat-toolbar-row>
    
    </mat-toolbar>
    <div>
      <!-- Event Detail Component -->
      <app-event-detail></app-event-detail>
    </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>